@font-face {
  font-family: "Grosa-Medium";
  src: url("./fonts/Grosa-Medium.woff2") format("woff2"),
    url("./fonts/Grosa-Medium.woff") format("woff"),
    url("./fonts/Grosa-Medium.ttf") format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  --color-text: #1c1b1b;
  --color-bg: #ffffff;
  --color-link: #b07656;
  --color-link-hover: #000;
  --color-deco: #e4dbd6;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
  font-family: "Grosa-Medium";
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

main {
  position: relative;
  height: auto;
}

.container {
  position: relative;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(220, 1fr);
  overflow: hidden;
}

.heading {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: normal;
  margin-top: 1.25rem;
}

.box-inner {
  display: grid;
}

.img-container {
  /* opacity: 0; */
  /* transition: opacity 0.3s ease-out; */
  will-change: transform;
  z-index: 1;
}

.img-container:hover {
  z-index: 2;
}

.img-container.visible {
  opacity: 1;
}

.img-container img {
  width: 100%;
  position: relative;
}
