*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  --color-text: #1c1b1b;
  --color-bg: #ffffff;
  --color-link: #b07656;
  --color-link-hover: #000;
  --color-deco: #e4dbd6;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

main {
  position: relative;
  height: auto;
}

.container {
  position: relative;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(220, 1fr);
  overflow: hidden;
}

.box-inner {
  display: grid;
}

.img-container {
  /*opacity: 1;*/
  /*transition: opacity 0.3s ease-in-out;*/
  will-change: transform;
}

.img-container.visible {
  opacity: 1;
}

.img-container img {
  width: 100%;
  position: relative;
}
