*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  --color-text: #1c1b1b;
  --color-bg: #ffffff;
  --color-link: #b07656;
  --color-link-hover: #000;
  --color-deco: #e4dbd6;
  color: var(--color-text);
  background-color: var(--color-bg);
  /* font-family: paralucent, sans-serif; */
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

main {
  position: relative;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(220, 1fr);
  overflow: hidden;
}

/* .box {
  grid-column-start: 10;
  grid-row-start: 2;
  grid-column-end: span 15;
  grid-row-end: span 15;
} */

.box-inner {
  display: grid;
  /* grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 10px); */
}

/* .img-container {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: span 5;
  grid-row-end: span 5;
} */

.img-container img {
  width: 100%;
  position: relative;
}

#trigger {
  position: fixed;
  top: 200px;
}
